.bg{
  background-image: url('https://images.pexels.com/photos/6941883/pexels-photo-6941883.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
  background-size: contain;
}
.myfont{
  font-family: 'Times New Roman', Times, serif;
  font-size: 40px;
}

.bg-pink{
  background-color: rgb(188, 75, 93);
}
.bg-pink:hover{
  background-color: rgb(193, 41, 66);
}
.bg-form{
  background-color: whitesmoke
}

.pointer {
  cursor: pointer;
}

.box{
  height: 270px;
  width: 270px;
}

.stylefont{
  font-weight: bolder;
  font-size: 40px;
}

label{
  display: block;
  padding: 10px;

}

.myshadow{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.mxpoint{
  margin-left: 1200px;
}